
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- Mirrored from html.dankov-themes.com/xenia/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 30 Mar 2023 12:30:28 GMT -->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>BEEKOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="xenia - responsive and retina ready template" name="description">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <link href="assets/images/favicon.ico" rel="shortcut icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/sitetemplate/assets/images/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/sitetemplate/assets/images/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/sitetemplate/assets/images/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/sitetemplate/assets/images/apple-touch-icon-precomposed.png" />
    <!-- JS FILES -->
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/modernizr.custom.js"></script>
    <!-- CSS FILES -->
    <link href="~/Content/sitetemplate/assets/css/style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="~/Content/sitetemplate/assets/css/responsive.css" media="screen" rel="stylesheet" type="text/css">
    <link href="~/Content/sitetemplate/assets/rs-plugin/css/settings.css" media="screen" rel="stylesheet" type="text/css">
    <link href="~/Content/sitetemplate/assets/css/navstylechange.css" media="screen" rel="stylesheet" type="text/css">
    <link href="~/Content/sitetemplate/assets/css/cubeportfolio.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="~/Content/sitetemplate/assets/css/testimonialrotator.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <div class="page_head">
            <div class="nav-container" style="height: auto;">
                <nav>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 pull-left"><div class="logo"><a href="/Home/Template"><img src="~/Content/sitetemplate/assets/images/logo.png" alt="acc"></a></div></div>
                            <div class="col-lg-9 pull-right">
                                <div class="menu">
                                    <div id="dl-menu" class="dl-menuwrapper">
                                        <button class="dl-trigger">Open Menu</button>
                                        <ul class="dl-menu">
                                            <li>
                                                <a href="@Url.Action("index","vihome")">Ana Sayfa</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index","viabout")">Hakkında</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index","viservice")">Hizmetler</a>
                                                @*<ul class="dl-submenu">
                                                        <li><a href="about.html">About Us</a></li>
                                                        <li><a href="services.html">Services</a></li>
                                                        <li><a href="contacts.html">Contact</a></li>
                                                        <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                                        <li><a href="404.html">404 Error</a></li>
                                                        <li><a href="faq.html">F.A.Q</a></li>
                                                    </ul>*@
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index","vipricing")">Fiyatlandırma</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index","viexport")">E-İhracat</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("index","vicontact")">Bize Ulaşın</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>



        @RenderBody()

        <footer class="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h3>BEEKOD NEDİR ?</h3>
                        <p>BEEKOD, mükemmel tasarım ve uygulamalarla sizi geleceğe taşıyan bir firmadır. Amacımız, en iyi ortamda, en iyi çalışmayı gerçekleştirmek Sorunlarını veya amaçlarını ve daha da önemlisi, başarıyı ölçme kriterlerini anlayabilmek için müşterilerimize kulak veririz. Küçük ve büyük ölçekli tüm müşterilerimize, ayrım yapmaksızın, aynı derecede değer veriyoruz.</p>
                    </div>
                    <div class="col-md-7 ms-auto">
                        <div class="row site-section pt-0">
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h3>Yönlendirme</h3>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("Index","ViHome")">Ana Sayfaa</a></li>
                                    <li><a href="@Url.Action("Index","ViAbout")">Hakkında</a></li>
                                    <li><a href="@Url.Action("Index","viservice")">Hizmetler</a></li>
                                    <li><a href="@Url.Action("Index","vipricing")">Fiyatlandırma</a></li>
                                    <li><a href="@Url.Action("Index","vicontact")">İletişim</a></li>
                                    <li><a href="@Url.Action("Index","viexport")">E-İhracat</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h3>Hizmetler</h3>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("Index","viservice")">E-Ticaret Paketleri</a></li>
                                    <li><a href="@Url.Action("Index","viservice")">Muhasebe Programı</a></li>
                                    <li><a href="@Url.Action("Index","viservice")">Kurumsal İnternet Sitesi</a></li>
                                    <li><a href="@Url.Action("Index","viservice")">B2B Sistemi</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h3>İletişim</h3>
                                <a class="btn btn-primary btn-lg btn-floating"
                                   style="border-radius: 90px; background-color: #DD2A7B; "
                                   href="https://www.instagram.com/beekodyazilim/"
                                   role="button">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="btn btn-primary btn-lg btn-floating"
                                   style=" border-radius:90px; background-color: #0e76a8;"
                                   href="https://www.linkedin.com/company/beekod/"
                                   role="button">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="btn btn-primary btn-lg btn-floating"
                                   style=" border-radius: 90px; background-color: #808080;"
                                   href="mailto:info@beekod.com"
                                   role="button">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style=" display:flex; align-items:center; justify-content:center;" class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-12">
                            <p class="copyright">&copy; BEEKOD 🐝 Tüm Hakları Saklıdır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/sticky.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/retina.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/testimonialrotator.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/portfolio-main.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jcarousel.responsive.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jquery.dlmenu.js"></script>

    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="~/Content/sitetemplate/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>